@using WebMatrix.Data

@{
    ViewBag.Title = "Catalogue"; // you can modify this to include the dynamic catalogue no.
    // This page should list all the lots for a selected auction catalogue
    // selecting a catalogue lot item should navigate to the Lot page
    // DB Stuff here to show list of lots in selected auction catalogue
}


<div class="jumbotron py-1 mt-2">
    <h2 class="text-center">Catalogue</h2>
</div>