@using WebMatrix.Data

@{
    ViewBag.Title = "Home";
    // This is the starting page that should show a list of past + current auction catalogues
    // selecting a catalogue should navigate to the catalogue page
    // DB Stuff here to show list of Auction Catalogues
}

<div class="jumbotron py-1 mt-2">
    <h2 class="text-center">Catalogues</h2>
</div>