@using WebMatrix.Data

@{
    ViewBag.Title = "Lot";  // you can modify this to include the dynamic lot no.
                            // This page should show the selected lot item
                            // DB Stuff here to show selected item in detail
}

<div class="jumbotron py-1 mt-2">
    <h2 class="text-center">Lot</h2>
</div>